############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.idea/
.vscode/
*.iml

############################
# Logs
############################
*.log
logs/

############################
# Temp
############################
tmp/
temp/
*.tmp

############################
# Env (仅根目录)
############################
.env
.env.local
