<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.TrainingExamRecordMapper">
    <select id="getTrainingRecord" resultType="top.hcode.hoj.pojo.vo.TrainingExamRecordVO">
        SELECT tr.tid,tr.uid,tr.eid,tr.teid,tr.submit_id,
               u.gender,u.realname as realname,u.username,u.avatar,u.school,u.nickname
        FROM training_exam_record tr,user_info u
        WHERE tr.uid = u.uuid
          AND tr.tid = #{tid}
    </select>
</mapper>
